* {
    padding: 0;
    margin: 0;
}


header{
    background-color: lightgray;
    padding: 20px;
    text-align: left;
}

header li {
    display: inline-block;
    margin: 0 40px;
}

header a{
    text-decoration: none;
    color: black;
}